@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
/* body {
  text-align: center;
  padding: 24px 24px 96px;
  font-family: 'Roboto Slab', serif;
}

h1, h2 {
  margin-bottom: 48px;
  font-weight: normal;
} */
body{
  background: gray;
}
.card{
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.button {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}

.button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
}
.button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 1px;
}
.button--social-login .icon:before {
  display: inline-block;
  width: 40px;
}
.button--social-login .icon:after {
  content: "";
}





.button--facebook {
  background-color: #4b70ab;
  border: 1px solid #3b5988;
  cursor: pointer;
}
.button--facebook .icon {
  border-right: 1px solid #3b5988;
}
.button--facebook .icon:after {
  border-right: 1px solid #6b8bbe;
}
.button--facebook:hover {
  background-color: white;
  color: black;
}


.button--github {
  background-color: #333;
  border: 1px solid #1a1a1a;
  cursor: pointer;
}
.button--github .icon {
  border-right: 1px solid #1a1a1a;
}
.button--github .icon:after {
  border-right: 1px solid #4d4d4d;
}
.button--github:hover {
  background-color: white;
  color: black;
}

.button--google {
  background-color: #DD4B39;
  border: 1px solid #c23321;
  cursor: pointer;
}
.button--google .icon {
  border-right: 1px solid #c23321;
}
.button--google .icon:after {
  border-right: 1px solid #e47365;
}
.button--google:hover {
  
  background-color: white;
  color: black;
}

.button--id {
  background-color: gray;
  border: 1px solid dimgray;
  cursor: pointer;
}

.button--id:hover {
  
  background-color: white;
  color: black;
}


.button--date {
  background-color: #988558;
  border: 1px solid #7B7D7D;
  cursor: pointer;
}

.button--date:hover {
  
  background-color: white;
  color: black;
}


.button--course {
  background-color: #6F4E37;
  border: 1px solid dimgray;
  cursor: pointer;
}

.button--course:hover {
  
  background-color: white;
  color: black;
}

